@keyframes scrolling {
  0% {
    transform: translateX(-20%);
  }

  100% {
    transform: translateX(20%);
  }
}

.my-name {
  background-color: #ffd700;
  color: #000000;
}

.my-name h1 {
  text-align: center;
  font-size: 170%;
  animation: scrolling 10s linear infinite;
}

.my-name h1::after {
  content: "";
  display: block;
  width: 59%;
  position: absolute;
  left: 20.5%;
  height: 0.2em;
  background-color: #000000;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}

.my-name h1:hover::after {
  transform: scale(1);
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4em;
  padding: 3em;
  background-color: #7a306c;
  color: #ffd700;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-container img {
  border-radius: 50%;
  width: 30%;
  height: 30%;
  animation: rotating 10s linear infinite;
}

.profile-container img:hover {
  animation: none;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 150%;
}

.description h2 {
  font-size: 130%;
  text-align: center;
  position: relative;
}

.description h2::after {
  content: "";
  display: block;
  width: 55.5%;
  position: absolute;
  left: 22%;
  height: 0.2em;
  background-color: #ffd700;
  transform: scale(0);
  transition: transform 0.4s ease-in-out;
}

.description h2:hover::after {
  transform: scale(1);
}

.description li {
  padding-top: 2em;
  font-size: 70%;
  text-align: justify;
  list-style-image: linear-gradient(to left bottom, #ffd700, #ffd700);
}

.description .cities {
  display: flex;
  justify-content: center;
  text-align: center;
}
